<h1>Tweet#new</h1>

<div align='right'>
  <%= link_to "Logout #{@user.username}", logout_path %>
</div>

<%= form_for :tweet, :url => {:action => 'create'} do |f| %>
  <p>
  <%= f.text_field :text, :size => 50 %>
  </p>
  <p>
  <%= f.submit 'tweeeet' %>
  </p>
<% end %>

<%= render :partial => "tweets" %>

